* {
  margin: 0px;
  padding: 0px;
}
/*header section*/
.header-bg {
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 75%;
}
.header-section {
  padding: 170px 200px 300px 800px;
  text-align: right;
}
.header-section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.header-section-descrip {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.header-section-btn {
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  padding: 20px 15px;
  border: 0;
  border-radius: 10px;
  background-color: orange;
}
/*failure section*/
.failure-container {
  display: flex;
  gap: 24px;
  padding: 100px 150px 0 150px;
}
.failure-img .image {
  width: 400px;
  padding: 40px;
  border-radius: 75%;
  /* text-align: left;
  width: 100px;
  height: auto;*/
}
.failure-descrip-container {
  padding: 230px 80px 230px 10px;
  text-align: left;
}
.failure-title {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 15px;
}
.failure-descrip {
}
.failure-ul {
  padding-top: 10px;
}
.tick-mark {
  color: rgb(47, 215, 47);
}
/*my service*/
.my-service {
  margin: 100px 0;
  background-color: blanchedalmond;
  padding: 100px;
  height: 100%;
}
.service-title {
  font-weight: 700;
  font-size: 35px;
  border-bottom: 2 solid black;
  text-align: center;
  padding-bottom: 15px;
}
.service-description {
  text-align: center;
  padding: 15px 200px;
}
.service-container {
  display: flex;
  gap: 24px;
  padding: 25px 5px;
}
.service-container-one {
  background-color: white;
  margin: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 3px 3px gray;
}
.service-container-two {
  background-color: white;
  margin: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 3px 3px gray;
}
.service-container-three {
  background-color: white;
  margin: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 3px 3px gray;
}
.service-container-four {
  background-color: white;
  margin: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 3px 3px gray;
}
.service-container-image {
  width: 30px;
  padding: 10px 25px 0px 25px;
}
.service-container-title {
  padding: 5px 5px;
}
.service-container-description {
  padding: 5px 5px;
}
/*my plan section*/
.my-plan {
  padding: 20px 230px 30px 230px;
  text-align: center;
}
.my-plan-title {
  margin: 0px 200px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
}
.my-plan-container {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 0 50px 10px 80px;
}
.my-plan-goals .goals {
  padding: 0 40px;
}
.goals-logo {
  margin: 10px;
  border-radius: 10px;
  width: 50px;
  text-align: center;
  padding-bottom: 5px;
}
.goals-title {
  font-weight: 700;
  font-size: 18px;
}
.goals-descrip {
  ont-weight: 500;
  font-size: 18px;
  padding-bottom: 15px;
}
/*section watch*/
.watch {
  margin: 100px 100px;
}
.section-watch {
  background-image: linear-gradient(to right, #ff0000, #2222229c),
    url(../images/watch.png);
  border-radius: 10px;
  padding: 100px 40px;
}
.section-watch-description {
  margin-top: auto;
  text-align: left;
}
.section-watch-title {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 10px;
}
.section-watch-btn {
  color: #f15b22;
  border: 0;
  border-radius: 5px;
  padding: 15px 30px;
}
/*footer*/
.footer-container {
  display: flex;
  background: #151414;
  padding: 100px 200px;
}
.footer-container-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 35px;
  color: #f8f8f8;
}
.footer-container-descrip {
  color: #ffffff;
  padding-bottom: 10px;
  padding-right: 200px;
}
div,
a {
  text-decoration: none;
}
.social-media {
  width: 30px;
  padding: 0 5px;
  border-radius: 5px;
}
/*form*/
.form {
  padding: 10px;
}
.email {
  padding: 20px 15px;
  border: 0;
  border-radius: 10px;
}
.btn {
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  padding: 15px 15px;
  border: 0;
  border-radius: 10px;
}
